.card {
    background-color: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    width: 80%; /* Ancho adaptable para móviles */
    display: flex;
    flex-direction: column;
}

.card-home {
    max-width: 350px; /* Ancho máximo en pantallas más grandes */
    margin: 25px;
}

.card-content {
    flex-grow: 1; /* Permite que el contenido ocupe el espacio disponible */
}

.card-content h2 {
    margin-top: 0; /* Elimina margen superior */
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px; /* Espacio entre contenido y footer */
}

.number-container {
    display: flex;
}

.number {
    background-color: #dc3545; /* Rojo similar */
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 4px;
    margin-right: 5px;
}

.arrow-icon img {
    width: 20px; 
    height: auto;
}

@media (min-width: 768px) { /*ajustes para desktop*/
    body {
        flex-direction: row; 
        align-items: flex-start; 
    }

    .card-home {
        width: 45%; 
    }

    .card-project {
        flex-direction: row!important;
        gap: 5%;
    }
    
   
}

.card-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-content: center;
    margin: 0 auto;
}

.card-two {
    align-self: flex-end;
}

.card-project {
    display: flex;
    flex-direction: column-reverse;
}

.card-position {
    position: relative;
}

.card-p{
    width: 60%;
}

.card-img {
    width: 40%;
    position: absolute;
    top: -20px;
    right: -20px;
}

.card-content-pading {
    padding-left: 30px;
}

.card-content-pading h2 {
    margin-top: 30px;
}