.card {
    background-color: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    margin: 20px 0; /* Espacio entre tarjetas */
    width: 80%; /* Ancho adaptable para móviles */
    max-width: 350px; /* Ancho máximo en pantallas más grandes */
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1; /* Permite que el contenido ocupe el espacio disponible */
}

.card-content h2 {
    margin-top: 0; /* Elimina margen superior */
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px; /* Espacio entre contenido y footer */
}

.number-container {
    display: flex;
}

.number {
    background-color: #dc3545; /* Rojo similar */
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 4px;
    margin-right: 5px;
}

.arrow-icon img {
    width: 20px; /* Ajusta el tamaño del ícono según necesites */
    height: auto;
}

@media (min-width: 768px) { /* Ajusta el breakpoint según tus necesidades */
    body {
        flex-direction: row; /* Cambia a disposición horizontal en pantallas más grandes */
        align-items: flex-start; /* Alinea las tarjetas al inicio del eje vertical */
    }

    .card {
        width: 45%; /* Ajusta el ancho de las tarjetas para que quepan dos en una fila */
        margin: 20px; /* Espacio alrededor de las tarjetas */
    }
}

.card-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-content: center;
    margin: 0 auto;
}

.card-two {
    align-self: flex-end;
}

